.menu-open {
    & div {
        &:after {
            top: 0;
            transform: rotate(45deg);
        }
        &:before {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
