:root {
    --base: #f4f9f9;
    --block: #aaaaaa;

    --active: #709fb0;
    --text: #351f39;
    --special: #726a95;
}

* {
    text-decoration: none;
    color: var(--text);
}

.App {
    background-color: var(--base);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    overflow: hidden;
}
